body{
    margin-bottom:1000px;
}


.nav-container{
    display: flex;
    border: 1px solid black;
    border: none;
}
.logo{
    margin-left: 90px;
    display: flex;
}
.logo.text{
    color: #6C55F9;

}
.all-name{
    display: flex;
    margin-top: 35px;
    margin-left: 400px;
    width: 500px;
    justify-content: space-around;
}
.n6{
    margin-top: 13px;
    margin-left: 40px;
}
.n6 button{
    background-color: #6C55F9;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:23px;
    padding-right:24px;
    border: none;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
}
.logo .con{
    color: black;
}
.main-container{
   
    /* border: 1px solid black; */
    /* margin-top: 40px;
    margin-left: 90px; */
    display: flex;
   
    padding-bottom: 70px;
    background-color: #a199e021;
    border-radius: 20px;
    /* border: none; */
    width: 1100px;

}
.container-move{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.main-container .text{
    display: inline-block;
    margin-left: 80px;
    margin-top: 120px;
    color: #645F88;
    font-family: "Open Sans", sans-serif;
  
}
.banner {
    display:inline-block;
    margin-top: 90px;
    margin-left: 70px

}
.text1{
    display: flex;
    border-radius: 20px;
    background-color: #6C55F9;
    color: white;
    width: 130px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;

}
.text1 .icon{
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.main-con{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.sub-con{
     
    width: 300px;
    margin-left: 50px;
    text-align: center;
    border-radius: 20px;
    background-color:rgba(234, 224, 224, 0.192);
    height: 330px;
    color: #645F88;
}
.button{
    color: white;
    background-color: #6C55F9;
    width: 130px;
    margin-left: 80px;
    border-radius: 5px;
}
.main-container1{
   background-color: white;
   display: flex;
   
   padding-bottom: 70px;
   border-radius: 20px;
   /* border: none; */
   width: 1100px;
}
.container-move{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.main-container .text{
    display: inline-block;
    margin-left: 80px;
    margin-top: 120px;
    color: #645F88;
    font-family: "Open Sans", sans-serif;
  
}
.banner {
    display:inline-block;
    margin-top: 40px;
    margin-left: 70px
}
.button1{
    color: white;
    background-color: #6C55F9;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}
.text{
    color: #645F88;
    font-family: "Open Sans", sans-serif;
    
}

.third-container{
    display: flex;
}
.page{
    display: inline-block;
    background-color: #d9d5f652;
    width: 1500px;
}
.text-center{
  color:#645F88;
  text-align: center;
}
.header{
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    margin-left: 60px;
}
.image img{
    border-radius: 50%;
    
}
.image-text{
    text-align: center;
    color: #645F88;
}
.web-container{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    height: 300px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;


}
.web-sub{
    display: inline-block;
}
.search-bar{
     display: flex;
    margin-top: 60px;
    position: relative;
      margin-right: 150px;
}
.search-bar input{
    margin-top: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 200px;
    padding-right: 200px;
    border: none;
    border-radius: 5px;


}
.button2 {
    position:absolute;
     bottom:-1713px;
    right:430px
}
.button2 button{
    /* postion: absolute; */
    background-color: rgb(0, 209, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.button2 button:hover{
    background-color: rgb(207, 204, 193);
    color: black;
}
.heading .head-name{
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    
}
.plan-container{ /*5th container*/
    display: inline-block;
    margin-top: 50px;
}
.heading-plan{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color:#645F88;
}
.all-card{
    display: flex;
    margin-left: 100px;
}
.card-price{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.342);
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 70px;
    font-family: "Work Sans", sans-serif;
    margin-top: 30px;
    height: 500px;
}
.price-header{
    position: relative;
    margin-top: 30px;

}
.price-type{
    color: #645F88;
}
.per{
    color: rgb(42, 42, 245);
}
.suffix{
    color: #645f88a8;
    font-size: 23px;
}
.dollar{
    position: absolute;
    left: 70px;
    font-weight: bold;
}
.about{
    margin-top: 30px;
    color: #645F88;
}
.subcr{
    margin-top: 30px;
}
.subcr button{
    border-radius: 4px;
    width: 250;
    background-color:#645f889f;
    text-align: center;
    color: white; border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    padding-right: 85px;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-size: large;
    font-weight: 400;
}
.card1{
    background-color: rgba(68, 68, 233, 0.671);
    display: inline-block;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 70px;
    font-family: "Work Sans", sans-serif;
    margin-top: 30px;
    color: white;
}
.card1 .about{
    color: white;
}
.text-card{
    color: white;
}
.card1.dollar{
    color: white;
}
.card1.price-type.span{
    color: white;
}
.sub-no{
    color: rgba(255, 255, 255, 0.733);
    font-size:x-large;
}
.duar{
    color: white;
}
.sub-button{
    margin-top: 30px;
}
.sub-button button{
    border-radius: 4px;
    width: 250;
    background-color:white;
    text-align: center;
    color:#645F88;
     border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    padding-right: 85px;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-size: large;
    font-weight: 400;
}
.container3{ /*7th container*/
    display: flex;
    background-color: #6C55F9;
    justify-content: center; 
    height: 500px;
}
.container3.text3{
    display: inline-block;
    color: white;
    
    

}
.text3{
    color: white;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    /*ending*/

}
.container4{  /*8th container*/
    display: inline-block;
    margin-top: 50px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

.title{
    display:inline-block;
    text-align: center;
    color: #645F88;
  }
  .page2{
    display:flex;
    text-align: center;
  }
 .box{
    margin-left: 90px;
 }
 .pic-text{
    color: #645F88;
    font-size: small;
 }
 .button3{
    margin-top: 40px;

 }
  .button3 button{
    background-color: #6C55F9;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-size: large;
    font-weight: 400;
    margin-left: 100px;
 
  }
  .button3 button:hover{
    background-color:#645F88;
    color:white; /*ending*/
}
.final-container{ /*final con*/
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color:rgb(39, 38, 38);
    color: white;
    height: 400px;
    font-family: "Work Sans", sans-serif;
}
.info{
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.541);
    line-height: 30px;
}
.info1{
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.541); 
  line-height: 30px;
  font-weight: 400px;
  
}
.email input{
    width: 250px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: none;
}
.subs{
    margin-top: 30px;
}
.subs button{
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: none;
    background-color: rgba(17, 204, 17, 0.678);
    
}
.sub-info{
    color: white;
    font-size: large;
    font-weight: 400;
}
.sub-info1{
    color: white;
    font-size: large;
    font-weight: 400;
}
    /*overall ending*/
